/************* Tags ***********************/

body { background-color:#a8dda8 }

hr { 
width: 30%;
height: 3px;

}

img:hover{
	
background-color: Red;

}

/************ Classes ********************/

.fit-picture {
     width: 100px;
  height: 100px;
  background-color: #cccccc;
  border-radius: 100px;
}
.good {
	background-color: Green;
	}
.bad
{
	background-color: Orange;
}

/****************** IDS ********************/

#Head {
	color: red;
}